
<h3>for文でのデータの呼び出し</h3>
{% for item in object_list %}
  <ul>
    <li>{{ item.itemname }}</li>
    <li style="list-style-type: none;">{{ item.itemvalue }}</li>
  </ul>
{% endfor %}

<h3>for if 文</h3>
{% for item in object_list %}
  <ul>
    <li>{{ item.itemname }}</li>
  {% if forloop.first %}
    <li style="list-style-type: none;">最初に登録した商品です</li><br>
  {% elif forloop.last %}
    <li style="list-style-type: none;">最後に登録した商品です</li><br>
  {% else %}
    <li style="list-style-type: none;">{{forloop.counter}}番目に登録された商品です</li><br>
  {% endif %}
  </ul>
{% endfor %}

{% for i in ''|center:10 %}
  <h4>{{forloop.counter}}</h4>
  {% if forloop.first %}
    <h5>最初の数字です</h5>
  {% elif forloop.last %}
    <h5>最後の数字です</h5>
  {% elif forloop.counter == 5 %}
    <h5>中央値です</h5>
  {% else %}
    <h5>この数は{{forloop.counter}}です</h5>
  {% endif %}
{% endfor %}
<h3>FINISH !!</h3>